# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# project
notices.txt
todo.txt
/data/
# symlink
/data

CMD-Backpacks-Satchels.lnk